{% extends 'student/layout.html.twig' %}
{% trans_default_domain 'student' %}

{% block bodyClasses %}{% endblock %}

{% block body %}
    <div class="student-passport">
        <div class="student-passport-controls print-hidden">
            <a class="button button-primary" href="{{ path('student_main') }}">Retour</a>
            <button class="button button-primary" data-controller="print" data-action="print#print">
                {{ 'student.passport.print' | trans }}
            </button>
        </div>
        {% include 'components/passport.html.twig' with {student: student} %}
    </div>
{% endblock %}
