<header class="footer">
    <div class="flex items-center space-x-3">
        <a href="{{ path('teacher_main') }}">{{ 'home.teacher' | trans }}</a>
        <span>|</span>
        <a href="{{ path('student_login') }}">{{ 'home.student' | trans }}</a>
    </div>
</header>
