$shapes: "s", "c", "t", "d";
$colors: "y", "r", "p", "b";

$shapesNamesMap: (
        "s": "square",
        "c": "circle",
        "t": "triangle",
        "d": "diamond"
);

$colorsNamesMap: (
        "y": "yellow",
        "r": "red",
        "p": "pink",
        "b": "blue"
);

.student-password {
  @apply flex items-center space-x-1.5;

  > div {
    height: 18px;
    width: 18px;
  }

  @each $shape in $shapes {
    @each $color in $colors {
      .#{$shape}#{$color} {
        background: transparent url("../../images/shapes/#{map-get($shapesNamesMap, $shape)}-#{map-get($colorsNamesMap, $color)}.svg") no-repeat center center / contain;
      }
    }
  }
}
