<h1>{{ 'teacher.recovery.email.title' | trans }}</h1>

<p>
    {{ 'teacher.recovery.email.head' | trans }}
</p>
<p>
    {{ 'teacher.recovery.email.password.1' | trans({'%password%': password}) }}
</p>
<p>
    {{ 'teacher.recovery.email.password.2' | trans }}
</p>
