@font-face {
  font-family: 'Roboto';
  src: url('_fonts/roboto/Roboto-Light.woff2') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('_fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('_fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url('_fonts/Montserrat/Montserrat-SemiBold.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('_fonts/Montserrat/Montserrat-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('_fonts/Montserrat/Montserrat-BoldItalic.ttf');
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url('_fonts/Montserrat/Montserrat-SemiBoldItalic.ttf');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('_fonts/Montserrat/Montserrat-ExtraBold.ttf');
  font-weight: 900;
}
