/** --------------------------------------------------------
 |
 |  Portfolio
 |
 * -------------------------------------------------------- */
.portfolio {
  @apply p-4;
  background: white;
  margin: auto;
  width: calc(210mm - 3cm);
}

.portfolio-block {
  @apply pb-16;
}

.portfolio-title {
  @apply border-b-2 border-p3 pb-2 mb-2 text-p3;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

.portfolio-objectives {
  font-style: italic;

  &:before {
    content: '🎯';
    float: left;
  }
}
